<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="title">Registrar nuevo cliente</h2>
                    <form action="/clients/addclient" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fullname" placeholder="Nombre Completo" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="telefono" class="form-control" placeholder="Teléfono" required>
                        </div>                                
                        <div class="form-group">
                            <input type="text" name="direccion" class="form-control" placeholder="Dirección" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" required>
                        </div>   
                        <div class="form-group">
                            <input type="text" name="license_plate" class="form-control" placeholder="Placa del vehículo" required>
                        </div>   
                        <div class="form-group">
                            <input type="text" name="marca" class="form-control" placeholder="Marca" required>
                        </div>   
                        jjjkajsdkaj
                        <div class="form-group">
                            <input type="text" name="modelo" class="form-control" placeholder="Modelo" required>
                        </div>   
                        <div class="form-group">
                            <input type="text" name="color" class="form-control" placeholder="Color" required>
                        </div>   
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>     
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

