<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    
                    <form action="/clients/addclient" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fullname" placeholder="Nombre Completo" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" class="form-control" placeholder="Teléfono">
                        </div>                                
                        <div class="form-group">
                            <input type="text" name="direccion" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Correo Electrónico">
                        </div>   
                        <div class="form-group">
                            <input type="text" name="license_plate" class="form-control" placeholder="Placa del vehículo">
                        </div>   
                        <div class="form-group">
                            <input type="text" name="marca" class="form-control" placeholder="Marca">
                        </div>   
                        <div class="form-group">
                            <input type="text" name="modelo" class="form-control" placeholder="Modelo">
                        </div>   
                        <div class="form-group">
                            <input type="text" name="color" class="form-control" placeholder="Color">
                        </div>   
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>     
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

