<main class="index">
  
  <header class="masthead d-flex">
      <div class="container text-center my-auto">
            <img src="img/logo.png" alt="AutosColombia" class="mb-3" >
            {{!-- <h1 class="mb-1">Autos Colombia</h1> --}}
            <h3 class="mb-5">
                <em>Panel de control</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
            Adelante, ingresa a tu cuenta para comenzar a administrar 
            </a>
      </div>
  </header>

</main>