<main class="index">
  
  <header class="masthead d-flex">
      <div class="container text-center my-auto">
            <img src="img/logo.png" alt="AutosColombia" class="my-auto" >
      </div>
  </header>
</main>